<div class="welcome-body">
	    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">MiComercio.com</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li ui-sref-active="active"><a ui-sref="app.home()">Principal</a></li>
                  <li ui-sref-active="active"><a ui-sref="hello.login()">Iniciar secion</a></li>
                  <li ui-sref-active="active"><a href="#">Registrarse</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div ui-view></div>

          <div class="mastfoot">
            <div class="inner">
              <p>template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">Mauro</a>.</p>
            </div>
          </div>

        </div>

      </div>
</div>
</div>