<div class="conteiner-fluid">
	<div class="col-md-12">
		<div class="col-md-3">
			<label>Nombre</label>
		</div>
		<div class="col-md-6">
		   <input type="text" ng-model="persona.nombre">
		</div>
		<div class="col-md-3">{{persona.nombre}}</div>
	</div>
	
	<div class="col-md-12">
		<div class="col-md-3">
			<label>Apellido</label>
		</div>
		<div class="col-md-6">
		   <input type="text" ng-model="persona.apellido">
	     </div>
	     <div class="col-md-3">{{persona.apellido}}</div>
	</div>

	<div class="col-md-12">
		<div class="col-md-3">
		<label>DNI</label>
		</div>
		<div class="col-md-6">
		   <input type="text" ng-model="persona.dni">
		</div>
		<div class="col-md-3">{{persona.dni}}</div>
	</div>
	<div class="col-md-12">Objeto Persona tipo json: {{persona}}</div>
</div>
